h5py
ipython==8.12.3
ipywidgets==8.1.5
matplotlib
MeshPy==2022.1.3
numpy
opencv_python
opencv_python_headless==4.9.0.80
openpyxl==3.1.2
pandas
Pillow
psutil==5.9.8
roipoly==0.5.3
scipy
seaborn
setuptools==68.2.2
Shapely==2.0.6
scikit-image
tifffile==2024.2.12
tqdm==4.66.2
tkinterweb
tables

