h5py
ipython
ipywidgets
matplotlib
MeshPy
numpy
opencv_python
opencv_python_headless
openpyxl
pandas
Pillow
psutil
scipy
seaborn
setuptools
Shapely
scikit-image
tifffile
tqdm
tkinterweb
tables
olefile

